.filter-form {
  .filter-form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .filter-form-selector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-column-gap: 8px
  }
}
