.row--detail-display td {
  border: 1px solid #333;
  border-top: 0px;
}

.row--detail-display td:first-child {
  border-right: 1px solid transparent;
}

.case-detail-list {
  display: grid;
  grid-template-columns: max-content max-content auto;
  column-gap: 15px;

  .case-detail-creator {
    font-weight: 600;
    text-transform: capitalize;
  }

  .case-detail-date {
    font-weight: 300;
  }
}
