.usa-tag.test_data,
.usa-tag.record_analysis,
.usa-tag.fo_referral,
.usa-tag.technical_issue {
    background-color: transparent;
    border: 2px solid;
    font-weight: bold;
}

.usa-tag.test_data {
    color: #454545;
    border-color: #454545;
}

.usa-tag.technical_issue {
    color: #c05600;
    border-color: #c05600;
}

.usa-tag.record_analysis {
    color: #07648d;
    border-color: #07648d;
}

.usa-tag.fo_referral {
    color: #454545;
    border-color: #454545;
}


