.usa-tag.test_data,
.usa-tag.record_analysis,
.usa-tag.fo_referral,
.usa-tag.technical_issue {
    background-color: transparent;
    border: 2px solid;
    font-weight: bold;
}

.usa-tag.test_data {
    color: #775540;
    border-color: #775540;
}

.usa-tag.technical_issue {
    color: #8168b3;
    border-color: #8168b3;
}

.usa-tag.record_analysis {
    color: #538200;
    border-color: #538200;
}

.usa-tag.fo_referral {
    color: #d72d79;
    border-color: #d72d79;
}


