.row--show-details td {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.row--show-details td:first-child {
  border-left: 1px solid #333;
}

.row--show-details td:last-child {
  border-right: 1px solid #333;
}

.row--show-details h3 {
  margin: 0;
}
