.case-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;

  .receiptNumber {
    font-size: 20px;
  }
}

.case-data {
  display: flex;

  .case-state,
  .case-problem,
  .case-creation {
    margin-right: 3px;
  }
  .case-reason {

  }
}

.case-metadata {
  margin: 15px 0 0 0;
  font-size: 14px;
  .status, .platform {
    margin-bottom: 5px;
  }
}

.case-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
  height: 40px;

  .usa-button.usa-button--unstyled {
    font-size: 15px;
  }

  .case-links {
    display: flex;
  }

}
