.sp-full-width.usa-header--extended .usa-nav__inner,
.sp-full-width .usa-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0.5em 1em !important;
  margin-left: 0;
  margin-right: 0;
  background-color: #252f3e;
  color: #FFF;
}

.site-title {
  margin: 0px;
  font-size: 1.5em;
}

.signed-in-as {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffbe2e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
